.loginContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    width: auto;
}

.formContainer{
    /* background-color: aquamarine; */
    display: flex;
    margin: 5px auto;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
.formContainer input,.formContainer input:focus,.formContainer input:active{
    width: 90%;
    height: 30px;
    line-height:  30px;
    font-size:  18px;
    padding: 5px 10px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #3334;
    color: white;
}

.formContainer button,.formContainer button:focus,.formContainer button:active{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #333;
    color:#f4f4f4;
    
}