.chaptersContainer{
    display:grid;
    grid-template-areas: "header header"
    "chaptersList chapterView";
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto;
}

.header{
    grid-area:header;
}
.chapters{
    grid-area:chaptersList;
    overflow-y: scroll;
    height:100%;
}
.chapter{
    grid-area:chapterView;
    padding:15px 25px;   
}
.chapter h1{
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    text-align: center;
    font-size:48px;
}
.chapter p{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    text-align: justify;
    padding: 5px;
}
.chapter p::first-letter{
    padding-left: 20px;
}
.edit-icon{
    position: relative;
    top:40px;
    left:90%;
}