.chapter-preview{
    background: #3B3B3B;
    border-radius: 10px;
    padding: 5px 10px;
    height:auto;
    min-height: 50px;
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.chapter-preview h3{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

}
.chapter-preview p{
    font-size: 14px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}