@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");
* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #181818;
  color: #fff;
}
*::-webkit-scrollbar {
  display: none;
}

:root {
  --ck-color-base-foreground: #333333;
  --ck-color-base-background: #181818;
  --ck-color-base-border: rgba(255, 255, 255, 0.1);
  --ck-color-base-action: hsl(104, 44%, 48%);
  --ck-color-base-focus: hsl(209, 92%, 70%);
  --ck-color-base-text: #f4f4f4;
  --ck-color-base-active: hsl(208, 88%, 52%);
  --ck-color-base-active-focus: hsl(208, 88%, 47%);
  --ck-color-base-error: hsl(15, 100%, 43%);

  /* -- Generic colors ------------------------------------------------------------------------ */

  --ck-color-focus-border-coordinates: 208, 79%, 51%;
  --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates));
  --ck-color-focus-outer-shadow: hsl(207, 89%, 86%);
  --ck-color-focus-disabled-shadow: hsla(209, 90%, 72%, 0.3);
  --ck-color-focus-error-shadow: hsla(9, 100%, 56%, 0.3);
  --ck-color-text: #f4f4f4;
  --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.15);
  --ck-color-shadow-drop-active: hsla(0, 0%, 0%, 0.2);
  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);
}
